*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse #
.project
.classpath
.settings
.checkstyle
.apt_generated

# Maven #
target
release.properties
pom.xml.*

# Package Files #
*.jar
*.war
*.ear

# Ant #
bin
gen
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

# Other #
.DS_Store
tmp

# IntelliJ IDEA #
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
